{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} | Cambia Password{% endblock %}

{% block content %}

    <div class="row justify-content-center mt-4">
        <div class="col-6 text-center">
            <p>Inserisci la Password attuale</p>
            <form class="" method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-warning" value="Cambia">
                <input type="hidden" name="next" id="" value="{{ next }}">
            </form>
            <br>
            <p><a href="{% url 'password_reset' %}">password dimenticata?</a></p>
        </div>
    </div>

{% endblock content %}