{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} |  Crea Discussione{% endblock %}

{% block content %}

    <div class="row justify-content-center mt-4">
        <div class="col-6">
            <h2>Crea Discussione in: {{ sezione }}</h2>
            <form class="" method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-warning" value="Crea!">
            </form>
        </div>
    </div>

{% endblock content %}